<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>详情页面</title>
    <link th:href="@{/detail/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link th:href="@{/detail/detail.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script th:src="@{/detail/jquery.min.js}"></script>
<!--    <script th:src="@{/detail/bootstrap.min.js}"></script>-->
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>






    <!---- start-smoth-scrolling---->
    <script type="text/javascript" th:src="@{/detail/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/detail/easing.js}"></script>

</head>
<body>
<!-- header-section-starts -->
<div class="col-md-12 deltop">
    <img th:src="@{/images/deltop.jpg}" style="width: 100%;height: 100%;">
</div>

<div class="col-lg-12" style="height: 50px;"></div>

<div class="container">
    <div class="main-content">




        <div class="m-single-article">
            <div class="article-left">

                <div class="article-time-strip">

                    <div class="clearfix"></div>
                    <div class="article-img">
                        <img th:src="@{/images/aa.jpg}" style="width:648px;height:384px"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="review-info">
                        <h6 class="span88">简要介绍</h6>
                        <p class="dirctr">&nbsp;&nbsp;&nbsp;&nbsp;在米奇妙妙屋里住着米老鼠米奇，他有一个神奇的妙妙工具箱，每当遇到困难需要帮助时，只要高喊"土豆"它就会出现
                            在眼前，给我们提供可以用得上的工具，小朋友们要和米奇一起选择适合
                            的工具才能解决当前的困难。我们会碰到什么有趣的事情，又如何帮助迪斯尼的朋友们呢，还是让我们赶快到米奇妙妙屋里去看看吧!</p>
                        <p class="ratingview">详细情况:</p>


                        <div class="clearfix"></div>

                        <p class="info"><strong>户型</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 三房两厅</p>
                        <p class="info"><strong>面积</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 80平方米</p>
                        <p class="info"><strong>押金</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5000元</p>
                        <p class="info"><strong>房源验证编号</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GZ25031161255684225X</p>
                    </div>
                </div>
            </div>
            <div class="article-right">
                <div class="grid_3 grid_5">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">米奇妙妙屋</a></li>
                            <!--  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">WED-1</a></li>-->
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <p class="m-s-t">中国广东省汕尾市海陆丰特色名宿：九巷十八号</p>
                                <span class="m-s-t">月租：</span><span class="m-s-t">520￥/月</span>
                                <div class="clearfix"></div>
                                <a class="more-show-time" href="#">我要下单</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="reviews-tabs">
            <!-- Main component for a primary marketing message or call to action -->
            <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
                <li class="test-class active"><a class="deco-none misc-class" href="#how-to">历史评价：</a></li>
            </ul>
            <div class="tab-content responsive hidden-xs hidden-sm">
                <div class="tab-pane active" id="how-to">
                    <p><strong>发布时间：</strong> <p>1998-07-27</p></p>
                    <p> <strong>详细内容：</strong> <p>在米奇妙妙屋里住着米老鼠米奇，他有一个神奇的妙妙工具箱，每当遇到困难需要帮助时，只要高喊"土豆"它就会出现
                    在眼前，给我们提供可以用得上的工具，小朋友们要和米奇一起选择适合
                    的工具才能解决当前的困难。我们会碰到什么有趣的事情，又如何帮助迪斯尼的朋友们呢，还是让我们赶快到米奇妙妙屋里去看看吧!</p></p>
                </div>
                <div class="tab-pane active" id="how-to">
                    <p><strong>发布时间：</strong> <p>1998-07-27</p></p>
                    <p> <strong>详细内容：</strong> <p>在米奇妙妙屋里住着米老鼠米奇，他有一个神奇的妙妙工具箱，每当遇到困难需要帮助时，只要高喊"土豆"它就会出现
                    在眼前，给我们提供可以用得上的工具，小朋友们要和米奇一起选择适合
                    的工具才能解决当前的困难。我们会碰到什么有趣的事情，又如何帮助迪斯尼的朋友们呢，还是让我们赶快到米奇妙妙屋里去看看吧!</p></p>
                </div>
                <div class="tab-pane active" id="how-to">
                    <p><strong>发布时间：</strong> <p>1998-07-27</p></p>
                    <p> <strong>详细内容：</strong> <p>在米奇妙妙屋里住着米老鼠米奇，他有一个神奇的妙妙工具箱，每当遇到困难需要帮助时，只要高喊"土豆"它就会出现
                    在眼前，给我们提供可以用得上的工具，小朋友们要和米奇一起选择适合
                    的工具才能解决当前的困难。我们会碰到什么有趣的事情，又如何帮助迪斯尼的朋友们呢，还是让我们赶快到米奇妙妙屋里去看看吧!</p></p>
                </div>
            </div>
        </div>

    </div>


</div>

</div>

<div class="col-md-12 footer">
    <img th:src="@{/images/delfooter.jpg}" style="width: 100%;height: 100%;">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>

</body>
</html>