<!--
Author: xmoban.cn
Author URL: http://www.xmoban.cn/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rental a Real Estates and Builders Category Flat bootstrap Responsive website Template | Blog :: xmoban.cn</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rental Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="css/prettySticky.css" type="text/css">
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>

	<div th:insert="~{commons/commons::topbar(flag='personal')}"></div>
	<!--blog-->
	<div class="blog">
		<div class="container">
			<h3 class="title">个人管理</h3>
			<div class="blog-info">
				<div class="col-md-6 blog-grids">
					<div class="blog-img">
						<a href="single.html"> <img src="images/g6.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="single.html">Fringilla condi me ntum consectetur</a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  January 30, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="single.html" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-6 blog-grids">
					<div class="blog-img">
						<a href="single.html"> <img src="images/g8.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="single.html">Consectetur fringilla condi me ntum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  February 03, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="single.html" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-6 blog-grids">
					<div class="blog-img">
						<a href="single.html"> <img src="images/g2.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="single.html">Qonsectetur fringilla condi me ntum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  February 10, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="single.html" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-6 blog-grids">
					<div class="blog-img">
						<a href="single.html"> <img src="images/g7.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="single.html">Fringilla consectetur condi me ntum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  February 20, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="single.html" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-6 blog-grids">
					<div class="blog-img">
						<a href="single.html"> <img src="images/g4.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="single.html">Sednsectetur condi me ntum fringilla </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  march 02, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="single.html" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-6 blog-grids">
					<div class="blog-img">
						<a href="single.html"> <img src="images/g5.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="single.html">Secteturcon fringilla condi mentum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  march 09, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="single.html" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
				
	
			</div>	
		</div>	
	</div>	
	<!--//blog-->
	<!--footer-->
	<div th:insert="~{commons/commons::footer}"></div>

	<!--//footer-->
	<!-- script-for prettySticky -->
	<script src="js/prettySticky.js"></script>
	<!--//script-for prettySticky -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>